@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    background-color: #fff;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.Navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 10px;
    margin: 0px;
    list-style: none;
    background-color: #1abc9c;
}
.Navlinks a {
    text-decoration: none;
    color: inherit;
    background-color: #1abc9c;
}
.Navlinks a:hover {
   color:#fff;
   border-bottom-style: solid;
   border-bottom-color: #f57595;
   border-radius: 10%;
}
.logo {
    color: #f57595;
    font: 20px  'Ubuntu', sans-serif;
}
.logo h3 {
    background-color: #1abc9c;
    border: 2px solid #f57595;
}
img {
    height: 50px;
    width: 50px;
}
.Headings {
    grid-area: hd;
}
.Container-Grid {
    display: grid;
    grid-template-areas: 'hd hd hd';
    grid-gap: 20px;
    padding: 20px;
    background-color: #fff;

}
.Container-Grid > section {
    text-align: center;
    padding: 90px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
   /* box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;*/
}
h2 {
    font: 30px 'Ubuntu', sans-serif;
    color: #04bcff;
}
hr {
    border: 1px solid rgb(94, 94, 94);
    width: 130px;
    border-radius: 10px;
    display: inline-block;
}
.Social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0px;
    font-size: 30px;
}
.Social-links a {
    color: #000;
    text-decoration: none;

}
.Social-links a:hover {
    color: rgb(106, 240, 195);
}
a {
    text-decoration: none;
    padding: 10px 10px;
    margin: 0px;
}
#btn {
    display: inline-block;
    background-color: #fff;
    font: 15px sans-serif;
    color: #000;
    padding: 5px;
    margin: 40px 0px;
    border-radius: 10px;
    border: 2px solid #f57595;
    cursor: pointer;
}
#Bigbtn:hover, #btn:hover {
    background-color: #f57595;
    color: #fff;
   /* border-bottom: 5px solid #000;
*/}
#Bigbtn {
    display: inline-block;
    background-color: #fff;
    padding: 5px;
    margin: 20px 0px; 
    font: 15px monospace;
    border: 2px solid #1abc9c;
    border-radius: 10px;
}
footer h3{
    background-color: #1abc9c;
    height: 20px;
    padding: 10px;
    color: #fff;
    font-style: italic;
    text-align: center;
}