body {
    text-align: center;
    padding: 0px;
    font-family: Arial;
}
img {
    height: 100px;
    width: 100px;
}
.ProfilePics {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 200px 0px 0px 0px;
    background: #c8c2c2;
    height: 100px;
    width: 100px;
}
.card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 40px 0px 0px 0px;
    border-radius: 20px;
    background: #fff;
    margin: -50px 20px 120px 20px;
    line-height: 20px;
    font-size: 15px;
}
.card h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }
.content {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
  #btn {
    background-color: #fff;
    font: 15px sans-serif;
    padding: 5px;
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid #f0d9df;
    cursor: pointer;
  }
  
@media screen and (max-width: 600px) {
 .ProfilePics {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 150px 0px 0px 0px;
    background: #c8c2c2;
    height: 100px;
    width: 100px;
}

 .card {
    box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;
    padding: 30px 0px 0px 0px;
    border-radius: 20px 0px 20px 20px;
    background: #fff;
    margin: -50px 20px 120px 20px;
    line-height: 20px;
    font-size: 15px;
}
.card h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }
.content {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
  }
}
